// Specific CSS for your home-page
html,
body {
  height: 100vh;
  font-family: $body-font !important;
  font-style: normal;
}

$clr-bg: #121212;
$clr-main: #A6192E;
$clr-secondary: #E1C16E;
$clr-middle: #B0B0B0;
$clr-light: #FFFFFF;

.home-page-container {
  width: clamp(auto, 90%, 800px);
  background-color: $clr-bg;
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-page-welcome {
  height: 400px;
  width: 700px;
  position: relative;
  background-position: center;
  background-size: cover;
  clip-path: path("M 0,0 L 700,0 \
                  L 700, 315 A 10,10 0,0,1 690, 325 \
                  L 510, 325 A 10,10 0,0,0 500 335 \
                  L 500, 390 A 10,10 0,0,1 490, 400 \
                  L 0, 400 L 0, 0 Z");
  border-radius: 10px;
  * {
    margin: 0;
    padding: 0;
  }
}

.home-page-text {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 30px;
  color: $clr-light;
  background: linear-gradient(rgba(255,255,255,0), rgba(0,0,0,0.8));
  h1 {
    margin: 1rem 0rem;
    letter-spacing: 5px;
  }

  h3 {
    margin-bottom: 2rem;
  }

  p {
    text-align: left;
    width: 60%;
    font-size: 14px;
    line-height: auto;
    padding: 10px;
    border-radius: 10px;
    transition: all 0.3s ease-in-out;

    &:hover {
      backdrop-filter: blur(5px);
    }
  }
}
