<h1 class="mt-3">Liste de mes réservations</h1>

<div class="reservations-container">
  <% @reservations.each do |reservation| %>
    <%= render "reservation_card_link", reservation: reservation %>
  <% end %>
</div>
