<div class="our-container">

  <% if @reservations.empty? %>
    <h1 class="gold-text">Il semblerait que vous n'avez pas de réservations...</h1>
    <%= link_to "Découvrez nos modèles !", cars_path, class: "our-btn our-btn-success d-block mt-5" %>
  <% else %>
    <h1 class="gold-text">Mes réservations</h1>

    <div class="reservations-container">
      <% @reservations.each do |reservation| %>
        <%= render "reservation_card_link", reservation: reservation %>
      <% end %>
    </div>
  <% end %>
</div>
