<h1>Liste des réservations sur mes voitures</h1>

<% @reservations.each do |reservation| %>
  <p><strong>Date de début :</strong> <%= reservation.start_date %></p>
  <p><strong>Date de fin :</strong> <%= reservation.end_date %></p>
  <p><strong>Prix total de la réservation :</strong> <%= number_to_currency(reservation.total_price, unit: "€") %></p>
<% end %>
