<h1>Liste des réservations sur mes voitures</h1>

<div class="reservations-container">
  <% @reservations.each do |reservation| %>
    <%= render "reservation_card_link", reservation: reservation %>
  <% end %>
</div>
