form {
  max-width: 600px;
  margin: auto;
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.form-group {
  margin-bottom: 15px;
}

label {
  font-weight: bold;
}

input, select, textarea {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.my-btn {
  display: inline-block;
  padding: 10px 15px;
  background-color: #E1C16E;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  transition: background 0.3s;

  &:hover {
    background-color: #f3ae00;
  }
}
.back-arrow-white {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 16px;
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease-in-out;

  i {
    font-size: 18px;
  }

  &:hover {
    color: #E1C16E; // Devient bleu au survol
  }
}

#new-car-container {
  input[type="submit"] {
    border: none;
  }

  label {
    color: $clr-secondary;
    text-align: left;
    width: 100%;
  }
}

#retour-cars-new {
  margin-left: 20px;
}
