.gold-text {
  color: $clr-secondary;
}

.reservation-show-container {
  max-width: 1200px;
  margin: 50px auto;
  gap: 20px;
  display: flex;
  text-align: start;
  color: $clr-light;

  .car-card:hover {
    transform: scale(1.01);
  }

  #annuler-reservation {
    width: fit-content !important;
    font-size: 24px;
    color: $clr-main;
    transition: all 0.5s ease;

    &:hover {
      color: $clr-light;
    }
  }

  .reservation-show-info {
    width: 70%;

    .reservation-show-info-header {
      display: flex;
      justify-content: space-between;
      align-items: center;

      a {
        height: fit-content !important;
      }
    }

    .reservation-show-dates {
      display: flex;
      gap: 30px;
      margin: 20px 0px;
    }
  }

  .reservation-show-car {
    width: 50%;
  }

  .reservation-show-status {
    width: fit-content;
    padding: 10px 20px;
    color: white;
  }

  .reservation-show-owner-coordinates {
    display: flex;
    gap: 10px;
  }
}
