.reservation-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); // Organise les cartes en grille responsive
  gap: 30px; // Ajoute de l'espace entre les cartes
  margin-bottom: 50px; // Ajoute de l'espace sous la liste des cartes
}

.reservation-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: linear-gradient(to bottom right, #d1d1d1, #a8a8a8); // Dégradé gris élégant
  color: #333 !important; // Texte sombre pour la lisibilité
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  gap: 20px 17px;
  width: $reservation-card-width;
  height: $reservation-card-height;
  padding: $reservation-card-py $reservation-card-px;

  transition: 0.3s ease;

  p {
    margin: 0px;
    display: block;
  }

  .reservation-title {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    h4 {
      font-weight: 900;
    }
  }

  .reservation-info {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-end;
    gap: 10px;
  }

  .reservation-dates-text {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    font-weight: 700;
  }

  .reservation-price {
    flex-grow: 1;
    text-align: end;
    font-size: 24px;
    font-weight: 700;
  }

  .reservation-location {
    text-align: start;
    margin: 10px 0px;
  }

  &:hover {
    scale: 1.03;
  }
}

// Effet lumineux au survol
.reservation-container:hover {
  box-shadow: 0px 15px 40px rgba(225, 193, 110, 0.5); // Effet doré subtil
  transform: scale(1.05);
}
