$animation-duration: 400ms;

.user-profile-dropdown {
  // animation
  display: grid;
  transition: $animation-duration ease-in-out;
  grid-template-rows: 0fr;
  ul {
    overflow: hidden;
  }
  //
  width: $dropdown-width;
  position: absolute;
  top: calc(2*#{$navbar-py} + #{$user-avatar-size});
  right: 0;
  z-index: 10;

  li {
    background: white;
    padding: 20px;
    &:hover {
      background: rgb(230, 230, 230);
    }
  }

  a {
    text-decoration: none !important;
  }

  ul {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
}

.user-profile-clicked {
  grid-template-rows: 1fr;
}
