$navbar-py: 5px;
$navbar-px: 20px;
//
$user-avatar-size: 50px;
//
$dropdown-height: 250px;
$dropdown-width: 200px;
//
$reservation-card-py: 10px;
$reservation-card-px: 15px;
$reservation-card-width: 400px;
$reservation-card-height: 200px;
