<!-- app/views/cars/index.html.erb -->
<div class="our-container">
  <h1>Découvrez des voitures d'exception</h1>

  <div class="cars-container">
    <% @cars.each do |car| %>
      <%= render "car_card_link", car: car %>
    <% end %>
  </div>
</div>
