<div class="footer-basic">
  <footer>
    <div class="social">
      <a href="#"><i class="fa-brands fa-instagram"></i></a>
      <a href="#"><i class="fa-brands fa-twitter"></i></a>
      <a href="#"><i class="fa-brands fa-meta"></i></a>
    </div>
    <ul class="list-inline">
      <li class="list-inline-item"><a href="#">Home</a></li>
      <li class="list-inline-item"><a href="#">Contact</a></li>
      <li class="list-inline-item"><a href="#">Infos</a></li>
      <li class="list-inline-item"><a href="#">Conditions générales</a></li>
      <li class="list-inline-item"><a href="#">Confidentialité</a></li>
    </ul>
    <p class="copyright">Car B&B © 2025</p>
  </footer>
</div>
