.container-user {
  background-color: $clr-bg;
  color: $clr-light;
  height: 100%;

  h2 {
    font-weight: 800;
  }

  form {
    background-color: $clr-bg;
    // display: flex;
    // justify-content: space-evenly;
    // border: 1px solid $clr-secondary;
    border: none;
    box-shadow: none;
    border-radius: 0px;
    margin: 20px auto;
  }

  .form-actions {
    display: flex;
    align-items: center;
  }

  .form-inputs {
    color: $clr-secondary;
    text-align: left;
  }

  .form-control:focus,
  .form-check-input:focus {
    border-color: $clr-secondary;
    box-shadow: 0 0 0 0.25rem $clr-secondary;
  }

  input[type="checkbox"] {
    accent-color: $clr-secondary;
  }

  .form-text {
    color: $clr-light;
  }
}


#edit-user {
  display: flex;
  justify-content: space-evenly;

  button {
    border: none;
  }

  .user-other {
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }

  .button_to {
    margin: 0;
  }

  .delete-account {
    display: flex;
    flex-direction: column;
  }
}
