#edit-user {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr;

  form {
    margin-bottom: 0px;
  }

  button {
    border: none;
  }

  .user-other {
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    .satisfait {
      padding-left: 20px;
    }
  }

  .button_to {
    margin: 20px 0;
    padding: 0;
  }

  .delete-account {
    display: flex;
    flex-direction: column;
  }
}
